
body {
  background-color: black;
  color: white;
  font-family: 'Times New Roman', Times, serif, serif;
}

.up{
    transform: rotate(180deg);
    font-size: 12rem;
    margin: 0;
    margin-right:50px;
    margin-top:0px;
  
}
.down{
    font-size: 12rem;
    margin: 0;
    margin-left:50px;
    margin-bottom: 0px;
 
}
.comma{
    text-align: center;
    color: yellow;
    font-size: 160px;
    margin: 0;
    height: 1rem;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;

}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin{ 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

  /* Page 1 */

.page1head{
  text-align: left;
  color: white;
  font-size: 1.5rem;
  margin-left: 50px;
  line-height: 1.7rem;
}

.page1body1{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;

}
.comma2{
  text-align: right;
  color: yellow;
  font-size: 10rem;
  margin: 0;
}

/* .comma3{
  text-align: center;
  color: yellow;
  font-size: 160px;
  margin: 0;
}
.comma4{
  text-align: center;
  color: yellow;
  font-size: 160px;
  margin: 0;
}
.comma5{
  text-align: center;
  color: yellow;
  font-size: 160px;
  margin: 0;
} */

.page1body2{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}

.page1body3{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}

.page1body4{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}

.page1body5{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}

.page1body6{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}
.page1body7{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}

.page1body8{
  text-align: left;
  color:white;
  font-family: 'Times New Roman', Times, serif;
  font-size:1.3rem;
  margin-left: 100px;
  margin-right:100px;
  line-height: 1.7rem;
}
